* {
    box-sizing: border-box;
}

body {
    background-color: #e7e7e7;
    padding: 20px;
    font-family: 'Times New Roman', Times, serif;
}

.main {
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 50px;
    word-break: break-all;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.row {
    margin: 8px -16px;
}

.row,
.row>.column {
    padding: 8px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 25%;
}

@media screen and (max-width:900px) {
    .column {
        width: 50%;
    }
}

@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}

.content {
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.footer-basic {
    padding: 40px 0;
    background-color: #ffffff;
    color: #4b4c4d;
}

.footer-basic ul {
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
}

.footer-basic li {
    padding: 0 10px;
}

.footer-basic ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-basic ul a:hover {
    opacity: 1;
}

.footer-basic .social {
    text-align: center;
    padding-bottom: 25px;
}

.footer-basic .social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin: 0 8px;
    color: inherit;
    opacity: 0.75;
}

.footer-basic .social>a:hover {
    opacity: 0.9;
}

.footer-basic .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
    margin-bottom: 0;
}